<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Pasajero - MovilGroup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register("/static/sw.js")
                    .then(reg => console.log('MoveG PWA Registrada', reg))
                    .catch(err => console.log('Fallo al registrar PWA', err));
            });
        }
    </script>
</head>

<body>
    <div class="container">
        <h2>Hola, {{ session['user_name'] }}</h2>
        <p>¿A dónde quieres ir hoy?</p>

        <form action="/solicitar_viaje" method="POST">
            <div class="form-group">
                <input type="text" name="origen" placeholder="¿Dónde te buscamos?" required>
            </div>
            <div class="form-group">
                <input type="text" name="destino" placeholder="¿A dónde vas?" required>
            </div>
            <div class="form-group">
                <input type="number" name="cantidad" placeholder="¿Cuántas personas?" min="1" max="4" required>
            </div>
            <button type="submit" style="background-color: var(--accent-color);">SOLICITAR TRASLADO</button>
        </form>

        <div class="link-footer">
            <a href="/logout" style="color: #d32f2f;">Cerrar Sesión Segura</a>
        </div>
    </div>
</body>

</html>